@mixin mn-TriggerItem($width: 100%) {
  text-align: left;
  margin-top: 10px;
  width: $width;
  &:first-child {
    margin-top: 0;
  }
  &[data-type="dir"] {
    .mn-Trigger {
      background-color: $dark-color;
      color: #fff;
      &:hover {
        background-color: $selected-color;
      }
    }
  }
  &[data-type="file"] {
    .mn-Trigger {
      color: $dark-color;
      border-color: $dark-color;
      &:hover {
        color: $selected-color;
        border-color: $selected-color;
      }
      &[data-is_supported="false"] {
        cursor: default;
        color: rgba($dark-color, .2);
        border-color: rgba($dark-color, .2);
      }
    }
  }

  &.selected {
    .mn-Trigger {
      background-color: $selected-color;
    }
  }

  .mn-Trigger {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid;
    cursor: pointer;
  }

  .mn-ItemTitle {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    word-break: break-all;
  }
}

@mixin incompatible-message()
{
  color: red;
  font-size: 11px;
  width: 100%;
  line-height: 1.8;
  text-align: center;
}