.mn-Breadcrumb {
  $font-size: 11px;
  $w: 120px;
  $h: 30px;
  $space: 15px;
  $bgc: #333;
  $duration: 200ms;
  @include transform(translate(0, #{-$word-search-padding/2}));
  position: relative;
  font-size: 0;
  display: inline-block;
  opacity: 1;
  margin-bottom: 0;
  &.show-message {
    width: 100%;
    .mn-Breadcrumb_ResetButton, .mn-Breadcrumb_Layers {
      display: none;
    }
    .mn-Breadcrumb_IncompatibleMessage {
      display: block;
    }
  }

  .mn-Breadcrumb_IncompatibleMessage {
    @include incompatible-message;
    @include transform(translate(0, -50%));
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    margin-bottom: 20px;
  }

  .mn-Breadcrumb_Layers {
    font-size: 0;
    display: inline-block;
  }

  .mn-Breadcrumb_ResetButton {
    $size: 25px;
    @include transition(opacity $duration);
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: -($size + $space);
    margin: auto;
    border: none;
    opacity: 0;
    background-color: transparent;
    z-index: 200;
    &:hover {
      &:before {
        width: 100%;
        height: 100%;
      }
    }
    &:before {
      @include transition(100ms);
      $inner-size: 20px;
      content: "";
      position: absolute;
      width: $inner-size;
      height: $inner-size;
      border-radius: 50%;
      background-color: $bgc;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:focus {
      outline: none;
    }
    &.active {
      @include transition(opacity $duration $duration*2);
      opacity: 1;
      cursor: pointer;
    }
  }

  .mn-Breadcrumb_Layer {
    @include transition(margin $duration $duration, width $duration $duration);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-left: 0;
    &.active {
      @include transition(margin $duration $duration, width $duration $duration);
      margin-left: $space;
      width: $w;
    }

    &:first-child {
      margin-left: 0;
      .mn-Breadcrumb_Item {
        &:before {
          $adjust: $space + 10px;
          width: $adjust;
          left: -$adjust;
        }
      }
    }

    .mn-Breadcrumb_Items {
    }

    .mn-Breadcrumb_Item {
      @include transform(translate(0, -50%));
      @include transition(opacity $duration);
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      opacity: 0;
      z-index: 0;
      visibility: hidden;
      &:before {
        @include transform(translate(0, -50%));
        content: "";
        position: absolute;
        height: 1px;
        width: $space;
        top: 0;
        bottom: 0;
        left: -$space;
        margin: auto;
        background-color: $bgc;
      }
      &.selected {
        @include transition(opacity $duration $duration*2);
        opacity: 1;
        z-index: 10;
        visibility: visible;
      }
      &.current {
        .mn-Breadcrumb_Link {
          border-color: $selected-color;
          background-color: $selected-color;
          color: #fff;
          cursor: default;
        }
      }
    }
    .mn-Breadcrumb_Link {
      @include transition(200ms);
      display: block;
      font-size: $font-size;
      line-height: 1.5;
      font-weight: bold;
      box-sizing: border-box;
      padding: 5px 10px;
      word-wrap: break-word;
      text-align: left;
      border-radius: 3px;
      border: 1px solid $bgc;
      color: $bgc;
      cursor: pointer;
      &:hover {
        background-color: rgba(#000, .1);
      }
    }
    .mn-Breadcrumb_Title {
      font-weight: bold;
    }
  }
}