.mn-Selector {
  $w: $selector-w;
  $space: 50px;
  $duration: 250ms;
  $opacity: .8;
  $easing: ease-in-out;
  $space_duration: margin $duration $duration, width $duration $duration;
  @include flex-grow(2);
  position: relative;
  min-width: $w*3 + $space*2;
  box-sizing: border-box;
  padding-bottom: 100px;
  .mn-Selector_Layers {
    font-size: 0;
    box-sizing: border-box;
  }

  .mn-Selector_Layer {
    @include transition(height 0ms, opacity $duration, $space_duration);
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0px;
    padding-left: 0px;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    &:first-child {
      margin-left: 0;
      &.active {
        margin-left: $space + $w;
      }
    }
    &:last-child {
      margin-right: 0;
      &.active {
        margin-right: $space + $w;
      }
    }
    //選択中の階層
    &.active {
      @include transition(height 0ms  $duration*2, opacity $duration $duration*2, $space_duration);
      width: $w;
      opacity: 1;
      margin-left: $space;
      .mn-Selector_Items.show {
        @include transition(opacity 0ms 0ms);
        .mn-Selector_Link {
          cursor: pointer;
        }
      }
      .mn-Selector_Item[data-type="dir"] {
        .mn-Selector_Link {
          @include transition(background 0ms);
          &:hover {
            @include transition(background 0ms);
          }
          &:active {
            @include transition(background $duration);
            background-color: $selected-color;
            &:after {
              @include transition(height 0ms, opacity $duration);
              height: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
    // 前の階層
    &.prev {
      @include transition(height 0ms  $duration*2, opacity $duration $duration*2, $space_duration);
      width: $w;
      opacity: $opacity;
      opacity: 1;
      margin-left: 0;
      .mn-Selector_Item[data-type="dir"].selected {
        .mn-Selector_Link {
          @include transition(background $duration);
          background-color: $selected-color;
          &.hover {
            &:after {
              @include transition(background 200ms);
              background-color: rgba(#fff,  1 - $opacity + .35);
            }
          }
          &:after {
            @include transition(height 0ms, opacity $duration);
            height: 100%;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
    &.past {
      @include transition(height 0ms $duration, opacity $duration $duration*2, $space_duration);
      height: 0;
    }
    // 次の階層
    &.next {
      @include transition(height 0ms  $duration, opacity $duration $duration, $space_duration);
      width: $w;
      margin-left: $space;
      opacity: $opacity;
      .mn-Selector_Item[data-type="dir"] {
        .mn-Selector_Link {
          @include transition(background $duration);
        }
      }
    }
    &.open {
      .mn-Selector_Items.show {
        position: relative;
      }
    }
    .mn-Selector_Items {
      @include transition(opacity 150ms, visibility 0ms $duration);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      z-index: 0;
      visibility: hidden;
      &.show {
        @include transition(opacity 0ms, visibility 0ms);
        opacity: 1;
        z-index: 10;
        visibility: visible;
      }
      &:before {
        @include transition(height 0ms $duration);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        height: 0;
        z-index: 20;
      }
    }
    .mn-Selector_Item {
      @include mn-TriggerItem;
      &.selected {
        .mn-Selector_Link {
          @include transition(background $duration $duration*2);
        }
      }
    }
    .mn-Selector_Link {
      cursor: default;
      &:after {
        @include transition(height 0ms $duration*2, opacity $duration $duration*2);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: 10;
        background-color: rgba(#fff, 1 - $opacity + .5);
        overflow: hidden;
        opacity: 0;
      }
    }
  }
}