.mn-WordSearch {
  $button-bottom: 40px;
  $button-size: 40px;
  $box-h: 60px;
  $word-search-h: $box-h + $word-search-padding*1.5;
  $border-color: rgba(#000, .3);
  $bgc: rgba(#fff, .8);
  $duration: 200ms;

  @include transition($duration);
  padding: $word-search-padding 0;
  font-size: 0;
  &:after {
    @include transition(opacity $duration $duration, height 0ms $duration*2);
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background-color: $bgc;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 100;
  }

  &.show-result {
    @include transition($duration $duration);
    padding-top: $word-search-padding/2;
    padding-bottom: $word-search-padding*1.5;
    z-index: 100;
    &:before, &:after {
      @include transition(opacity $duration $duration, height 0ms $duration);
      opacity: 1;
      height: 100%;
    }
    .mn-WordSearch_Body {
      @include transition(opacity $duration $duration, height 0ms $duration);
      height: calc(100% - #{$word-search-h});
      min-height: 400px;
      opacity: 1;
      overflow: visible;
    }
  }

  &.show-message {
    .mn-WordSearch_Val {
      display: none;
    }
    .mn-WordSearch_IncompatibleMessage {
      display: block;
    }
  }

  .mn-WordSearch_Header {
    display: inline-block;
    position: relative;
    width: 500px;
    height: $box-h;
    border-radius: $box-h/2;
    overflow: hidden;
    z-index: 200;
  }

  .mn-WordSearch_Box {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    font-size: 20px;
    padding: 0px $box-h/2;
    border: 1px solid $border-color;
    box-sizing: border-box;
    &:focus {
      border-color: $selected-color;
    }
  }

  .mn-WordSearch_BoxIcon {
    $icon-size: $box-h*.9;
    $lens-size: 20px;
    $lens-color: #aaa;
    $lens-adjust: -3px;
    $lens-bold: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    width: $icon-size;
    height: $icon-size;
    z-index: 10;
    margin: auto;
    opacity: .4;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &.active {
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      &:before {
        border-color: $selected-color
      }
      &:after {
        background-color: $selected_color;
      }
    }

    &:before, &:after {
      content: "";
      position: absolute;
    }

    &:before {
      @include transform(translate(0, #{$lens-adjust}));
      width: $lens-size;
      height: $lens-size;
      border-radius: 50%;
      box-sizing: border-box;
      border: $lens-bold solid $lens-color;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &:after {
      @include transform-origin(0px (-$lens-size/2));
      @include transform(translate(-50%, #{$lens-adjust}) rotate(-45deg));
      width: $lens-bold;
      height: 10px;
      background-color: $lens-color;
      top: calc(50% + #{$lens-size/2});
    }
  }

  .mn-WordSearch_Val {
    @include transform(translate(-50%, -50%));
    position: absolute;
    display: inline-block;
    top: -$word-search-padding/2;
    font-size: 30px;
    z-index: 100;
    color: #aaa;
  }

  .mn-WordSearch_IncompatibleMessage {
    @include incompatible-message;
    @include transform(translate(0, -50%));
    position: absolute;
    top: -$word-search-padding/2;
    left: 0;
    width: 100%;
    display: none;
  }

  .mn-WordSearch_CloseButton {
    @include line-cross(#888, $button-size);
    margin: $button-bottom auto;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

  .mn-WordSearch_Body {
    @include transition(opacity $duration, height 0ms $duration);
    position: absolute;
    width: 100%;
    height: 0;
    top: $word-search-h;
    opacity: 0;
    overflow: hidden;
    z-index: 1000;
    box-sizing: border-box;
  }

  .mn-WordSearch_Result {
    @include flex-container(column, wrap, left, flex-start);
    position: relative;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: calc(100% - #{$button-size + $button-bottom*2});
    min-height: 400px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    margin: auto;
    border-radius: 10px;
    overflow-y: scroll;
    font-size: 0;
    text-align: center;
    background-color: rgba(#fff, .8);
  }

  .mn-WordSearch_NotFound {
    @include transform(translate(0, -50%));
    position: relative;
    top: 50%;
    width: 100%;
    font-size: 50px;
    color: #bbb;
  }

  .mn-WordSearch_Items {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    padding: 50px 0;
    width: $selector-w;
    left: 0;
    right: 0;
    margin: auto;
  }

  .mn-WordSearch_Item {
    @include mn-TriggerItem;
  }

  .mn-WordSearch_Title {
    strong {
      font-weight: bold;
      background-color: rgba($selected-color, .7);
      color: #fff;
    }
  }
}