& {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
  background-color: #fff;
  @import "index/WordSearch";
  @import "index/Breadcrumb";
  @import "index/Selector";
}