html {
  @extend %reset;
  @extend %site-reset;
}

#{$root} {
  @include user-select;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  box-sizing: border-box;
}