//子要素の縦中央揃え
@mixin children-vertical($display: inline-block, $align: middle) {
  @if table-cell == $display {
    display: table;
  }
  font-size: 0;
  > * {
    @if table-cell == $display {
      display: table-cell;
    } @else {
      display: inline-block;
    }
    vertical-align: $align;
  }
}

//矢印
@mixin line-arrow($dist, $width: 40px, $color: #333, $hover: 0.7, $cusor: pointer)
{
  width: $width;
  height: $width*2;
  overflow: hidden;
  cursor: $cusor;
  opacity: 1;
  &:hover {
    opacity: $hover;
  }
  &:before, &:after {
    @include transform-origin(100% 0%);
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    height: 200%;
    background-color: $color;
    @if prev == $dist {
      right: 100%;
    } @else {
      right: 0;
    }
  }
  &:before {
    // margin-top: -1px;
    @if prev == $dist {
      @include transform(translate(0, -0.5px)rotate(-45deg));
    } @else {
      @include transform(translate(0, -0.5px)rotate(45deg));
    }
  }
  &:after {
    // margin-top: 0.5px;
    @if prev == $dist {
      @include transform(translate(0, 0.5px)rotate(-135deg));
    } @else {
      @include transform(translate(0, 0.5px)rotate(135deg));
    }
  }
  // &:before {
  //   @if prev == $dist {
  //     @include transform(translate($width - 0.5, -0.5px)rotate(-45deg));
  //   } @else {
  //     @include transform(translate(0, -0.5px)rotate(45deg));
  //   }
  // }
  // &:after {
  //   @if prev == $dist {
  //     @include transform(translate($width - 0.5, -($width*2 - 1))rotate(45deg));
  //   } @else {
  //     @include transform(translate(0, -($width*2 - 1))rotate(-45deg));
  //   }
  // }
}

//xボタン
@mixin line-cross($color, $size: 75px, $thin: 1px)
{
  $diagonal: $size * 1.3;
  position: relative;
  width: $size;
  height: $size;
  &:before, &:after {
    content: "";
    position: absolute;
    height: $thin;
    width: $diagonal;
    top: 0;
    bottom: 0;
    left: -($diagonal - $size) / 2;
    right: 0;
    background-color: $color;
    margin: auto;
    margin-left: $thin/2;
  }
  &:before {
    @include transform(rotate(45deg));
  }
  &:after {
    @include transform(rotate(-45deg));
  }
}

//吹き出し
//方向は$directionでtop, bottom, left, right指定
//位置はデフォルトで中央
@mixin bubble-talk($color, $width, $height, $direction, $position: 50%) {
  $list: bottom, left, right, top, $height, $width;
  @if top == $direction {
    $list: top, left, right, bottom, $height, $width;
  } @else if left == $direction {
    $list: left, top, bottom, right, $width, $height;
  } @else if right == $direction {
    $list: right, top, bottom, left, $width, $height;
  };
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    #{nth( $list, 1)}: -#{nth( $list, 5)};
    #{nth( $list, 2)}: $position;
    margin-#{nth( $list, 2)}: -#{nth( $list, 6)/2};
    border-#{nth( $list, 2)}: #{nth( $list, 6)/2} solid transparent;
    border-#{nth( $list, 3)}: #{nth( $list, 6)/2} solid transparent;
    border-#{nth( $list, 4)}: #{nth( $list, 5)} solid $color;
  }
}

//2.5dbutton
@mixin general-button($label-size, $icon-size, $label-color, $popup-dist, $horizontal-padding, $vertical-padding, $radius, $speed, $button-color, $side-darkness, $darken: darken($button-color, $side-darkness)) {
  @include user-select;
  @include transition(0ms);
  position: relative;
  top: 0px;
  display: inline-block;
  border-radius: $radius;
  background-color: rgba($button-color, 1);
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  .button-content {
    @include transition(0ms);
    display: table;
    border-radius: 0px 0px $radius $radius;
    padding: $vertical-padding ($horizontal-padding/2);
    color: $label-color;
    box-shadow: 0px 0px 0px 0px rgba($darken, 0);
    .button-text {
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
      padding: 0px ($horizontal-padding/2);
      font-size: $label-size;
      font-weight: bold;
      @if $label-size < $icon-size {
        line-height:($icon-size / $label-size) + 0em;
      } @else {
        line-height: 1em;
      }
    }
    .icon-font {
      display: table-cell;
      vertical-align: middle;
      padding: 0px ($horizontal-padding/2);
      font-size: $icon-size;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: $radius;
    border-bottom: 0px solid rgba($darken, 0);
    background-color: rgba($button-color, 0);
  }
  &:hover {
    @include transition($speed, ease-in-out);
    top: -$popup-dist;
    background-color: rgba(lighten($button-color, 3%), 1);
    .button-content {
      @include transition($speed, ease-in-out);
      box-shadow: 0px $popup-dist 0px 0px rgba($darken, 1);
    }
    &:before {
      @include transition($speed, ease-in-out);
      border-bottom: $popup-dist solid rgba($darken, 0);
    }
  }
  &:active {
    @include transition(0ms);
    top: 0px;
    background-color: rgba(darken($button-color, 5%), 1);
    box-shadow: 0px($popup-dist / 5) + 1 0px 0px rgba($darken, 1) inset;
    .button-content {
      @include transition(0ms);
      box-shadow: 0px 0px 0px 0px rgba(darken($button-color, $side-darkness + 5%), 0);
    }
    &:before {
      @include transition(0ms);
      top: -$popup-dist;
      border-bottom: 0px solid rgba($darken, 0);
      padding-bottom: $popup-dist;
    }
  }
  // .touch & {
  //   &:hover {
  //     background-color: rgba($button-color, 1);
  //     top: 0px;
  //     .button-content {
  //       box-shadow: 0px 0px 0px 0px rgba($button-color, 1);
  //     }
  //     &:before {
  //       border-bottom: 0px solid rgba($darken, 0);
  //     }
  //   }

  //   &:active {
  //     @include transition(0ms);
  //     top: 0px;
  //     background-color: rgba(darken($button-color, 5%), 1);
  //     box-shadow: 0px($popup-dist / 5) + 1 0px 0px rgba($darken, 1) inset;
  //     .button-content {
  //       @include transition(0ms);
  //       box-shadow: 0px 0px 0px 0px rgba(darken($button-color, $side-darkness + 5%), 0);
  //     }
  //     &:before {
  //       @include transition(0ms);
  //       top: -$popup-dist;
  //       border-bottom: 0px solid rgba($darken, 0);
  //       padding-bottom: $popup-dist;
  //     }
  //   }
  // }
}

//ローディングギア
@mixin loading-circle($name, $max-color, $gif: "share/loading",$delay: 150ms)
{
  $initial-delay: 450ms;
  $gear-size: 60px;
  $icon-size: 11px;
  $position-1: ($gear-size/2) - ($icon-size/2);
  $position-2: $position-1/2 - $icon-size/2;
  $alpha: 0.5;
  $min-color: #fff;

  .loading-gif {
    display: none;
    background-image: url("../../images/#{$gif}.gif");
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .loading-gif {
    display: block\9;
  }

  .f_circleG:not(:target) {
    display: none\9;
  }

  .floatingCirclesG {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: $gear-size;
    height: $gear-size;
    margin:auto;
  }

  .f_circleG {
    @include animation(#{$name}, 1200ms linear 0ms infinite) {
      from {
        background-color:rgba($max-color, 1);
      }

      to {
        background-color:rgba($min-color, $alpha);
      }
    };
    position: absolute;
    height: $icon-size;
    width: $icon-size;
    border-radius: 9px;
    background-color:rgba($min-color, $alpha);
  }

  .frotateG_01 {
    @include animation-delay($initial-delay);
    left:0;
    top: $position-1;
  }

  .frotateG_02 {
    @include animation-delay($initial-delay + $delay);
    left: $position-2;
    top: $position-2;
  }

  .frotateG_03 {
    @include animation-delay($initial-delay + $delay * 2);
    left: $position-1;
    top:0;
  }

  .frotateG_04 {
    @include animation-delay($initial-delay + $delay * 3);
    right: $position-2;
    top: $position-2;
  }

  .frotateG_05 {
    @include animation-delay($initial-delay + $delay * 4);
    right:0;
    top: $position-1;
  }

  .frotateG_06 {
    @include animation-delay($initial-delay + $delay * 5);
    right: $position-2;
    bottom: $position-2;
  }

  .frotateG_07 {
    @include animation-delay($initial-delay + $delay * 6);
    left: $position-1;
    bottom:0;
  }

  .frotateG_08 {
    @include animation-delay($initial-delay + $delay * 7);
    left: $position-2;
    bottom: $position-2;
  }
}

@mixin flex-container($direction, $wrap: wrap, $justify: left, $align-items: stretch, $align-content: center){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  @include flex-flow($direction $wrap);
  @include justify-content($justify);
  @include align-items($align-items);
  @include align-content($align-content);
}

@mixin inline-flex-container($direction, $wrap: wrap, $justify: left, $align-items: stretch, $align-content: center){
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  @include flex-flow($direction $wrap);
  @include justify-content($justify);
  @include align-items($align-items);
  @include align-content($align-content);
}