@mixin clearfix {
  &:before, &:after {
    content: "";
    display: block;
    overflow: hidden;
  }
  &:after {
    clear:both;
  }
  *zoom: 1;
}

@mixin opacity($val){
  $IEValue: $val*100;
  opacity: $val;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin user-select($val: none) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin filter($val) {
  -webkit-filter: $val;
  -moz-filter: $val;
  -ms-filter: $val;
  -o-filter: $val;
  filter: $val;
}

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transform-origin($val...) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  -o-transform-origin: $val;
  transform-origin: $val;
}

@mixin transform($val...) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation_name, $val) {
  @include keyframes($animation_name)
  {
    @content;
  };
  -webkit-animation: $animation_name $val;
  -moz-animation: $animation_name $val;
  -o-animation: $animation_name $val;
  -ms-animation: $animation_name $val;
  animation: $animation_name $val;
}

@mixin animation-name($val){
  -webkit-animation-name: $val;
  -moz-animation-name: $val;
  -o-animation-name: $val;
  -ms-animation-name: $val;
  animation-name: $val;
}

@mixin animation-duration($val){
  -webkit-animation-duration: $val;
  -moz-animation-duration: $val;
  -o-animation-duration: $val;
  -ms-animation-duration: $val;
  animation-duration: $val;
}

@mixin animation-delay($val){
  -webkit-animation-delay: $val;
  -moz-animation-delay: $val;
  -o-animation-delay: $val;
  -ms-animation-delay: $val;
  animation-delay: $val;
}

@mixin animation-iteration-count($val){
  -webkit-animation-iteration-count: $val;
  -moz-animation-iteration-count: $val;
  -o-animation-iteration-count: $val;
  -ms-animation-iteration-count: $val;
  animation-iteration-count: $val;
}

@mixin animation-direction($val){
  -webkit-animation-direction: $val;
  -moz-animation-direction: $val;
  -o-animation-direction: $val;
  -ms-animation-direction: $val;
  animation-direction: $val;
}

@mixin filter($val)
{
  // $ie: $val*4;

  filter: $val;
  -webkit-filter: $val;
  -moz-filter: $val;
  -o-filter: $val;
  -ms-filter: $val;
  // filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=20);

}

@mixin linear-gradient($startcolor, $stopcolor...) {
  background: $startcolor;
  background: -webkit-linear-gradient(top, $startcolor, $stopcolor);
  background: -moz-linear-gradient(top, $startcolor, $stopcolor);
  background: -o-linear-gradient(top, $startcolor, $stopcolor);
  background: linear-gradient(to bottom, $startcolor, $stopcolor);
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin flex-direction($val) {
  -webkit-flex-direction: $val;
  -moz-flex-direction: $val;
  -ms-flex-direction: $val;
  -o-flex-direction: $val;
  flex-direction: $val;
}

@mixin flex-wrap($val) {
  -webkit-flex-wrap: $val;
  -moz-flex-wrap: $val;
  -ms-flex-wrap: $val;
  -o-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin flex-flow($val) {
  -webkit-flex-flow: $val;
  -moz-flex-flow: $val;
  -ms-flex-flow: $val;
  -o-flex-flow: $val;
  flex-flow: $val;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  -moz-justify-content: $val;
  -ms-justify-content: $val;
  -o-justify-content: $val;
  justify-content: $val;
}

@mixin align-items($val) {
  -webkit-align-items: $val;
  -moz-align-items: $val;
  -ms-align-items: $val;
  -o-align-items: $val;
  align-items: $val;
}

@mixin align-content($val) {
  -webkit-align-content: $val;
  -moz-align-content: $val;
  -ms-align-content: $val;
  -o-align-content: $val;
  align-content: $val;
}

@mixin order($val) {
  -webkit-order: $val;
  -moz-order: $val;
  -ms-order: $val;
  -o-order: $val;
  order: $val;
}

@mixin flex-grow($val) {
  -webkit-flex-grow: $val;
  -moz-flex-grow: $val;
  -ms-flex-grow: $val;
  -o-flex-grow: $val;
  flex-grow: $val;
}

@mixin flex-shrink($val) {
  -webkit-flex-shrink: $val;
  -moz-flex-shrink: $val;
  -ms-flex-shrink: $val;
  -o-flex-shrink: $val;
  flex-shrink: $val;
}

@mixin align-self($val) {
  -webkit-align-self: $val;
  -moz-align-self: $val;
  -ms-align-self: $val;
  -o-align-self: $val;
  align-self: $val;
}
